*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.8vw;
    /* vw font chuữ tay đổi theo độ co giãn màn hình */
}
.boxcenter{
    width: 60%;
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
}
.mb{
    margin-bottom: 20px;
}
.ml{
    margin-left: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.mr{
    margin-right: 2%;
}
.spct{
    text-align: center;
}
.demo{
    background-color: rgb(217, 244, 244);
    min-height: 100px;
}
.header{
    background-color: aquamarine;
    border: 1px #009900 solid;
    font-size: 1vw;
    color: blue;
    border-radius: 5px;
}
.footer{
    background-color: aquamarine;
    border: 1px #009900 solid;
    color: blue;
    border-radius: 5px;
    padding: 20px;
}
.header h1{
    margin: 20px;
    font-size: 2vw;
}
.menu{
    background-color: rgb(6, 6, 6);
    color: #CCC;
    border-radius: 5px;
}
.boxtrai{
    float: left;
    width: 74%;
}
.boxphai{
    float: left;
    width: 24%;
}


.boxtittle{
    color: #333;
    padding: 10px;
    background-color: beige;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #CCC solid;
}
.boxcontent{
    border-left:  1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    min-height: 200px;    
    padding: 20px;
}
.boxcontent2{
    border-left:  1px #CCC solid;
    border-right: 1px #CCC solid;    
    background-color: #EEE;
}
.boxfooter{
    padding: 10px;
    background-color: beige;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
}
.banner{
    min-height: 300px;
    width: 100%;

}
.banner img{
    width: 100%;
    min-height: 300px;      
}
.boxsanpham{
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px #EEE solid;
    border-radius: 5px ;
    margin-bottom: 20px;
}
.boxsanpham .img{
    min-height: 250px;
    text-align: center;
}
.img img{
    width: 80%;
    height: 220px;
}
.menu ul{
    padding: 0px    15px;
}
.menu ul li{
    list-style: none;
    display: inline;
    padding: 0px 15px;
}
.menu ul li a{
    text-decoration: none;
    color: #CCC;
    transition: 0.5s;
}
.menu ul li a:hover{
    color: #CCC;
    font-size: 0.9vw;
}

/* box tai khoan */
.formtaikhoan{
    line-height: 150%;
}
.formtaikhoan input[type="text"],
.formtaikhoan input[type="email"],
.formtaikhoan input[type="password"],
.formcontent input[type="text"]{
    width: 100%;
    border: 1px #CCC solid;
    padding:5px 10px;
    border-radius: 5px;
}

.formtaikhoan input[type="checkbox"]{
    border-radius: 5px;
}
.formtaikhoan input[type="submit"],
.formtaikhoan input[type="reset"],
.formcontent input[type="submit"],
.formcontent input[type="reset"],
.formcontent input[type="button"]{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(250, 250, 250);
    border: 1px rgb(145, 140, 140) solid;
}
.formtaikhoan input[type="submit"]:hover,
.formtaikhoan input[type="reset"]:hover,
.formcontent input[type="submit"]:hover,
.formcontent input[type="reset"]:hover,
.formcontent input[type="button"]:hover{
    background-color: rgb(194, 190, 190);
}
.formtaikhoan li a{
    color: rgb(16, 141, 141);
    text-decoration: none;
}
.formtaikhoan li a:hover{
    color: rgb(9, 96, 96);
    text-decoration: underline;
}

.formdangky input[type="text"],
.formdangky input[type="email"],
.formdangky input[type="password"]{
    width: 100%;
    border: 1px #CCC solid;
    padding:5px 10px;
    border-radius: 5px;
}
.formdangky input[type="submit"],
.formdangky input[type="reset"]{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(250, 250, 250);
    border: 1px rgb(145, 140, 140) solid;
}
.formdangky input[type="submit"]:hover,
.formdangky input[type="reset"]:hover{
    background-color: rgb(194, 190, 190);
}

/* Danh muc */
.menudoc ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menudoc ul li{ 
    padding: 10px 20px ;
    background-color: #ffffff;
    border-bottom: 1px #CCC solid;
}
.menudoc ul li a{
    text-decoration: none;
    color: rgb(105, 105, 100);
}
.menudoc ul li:hover{
    background-color: rgb(202, 205, 205);
}
.searchbox input[type="text"]{
    width: 100%;
    padding: 5px 10px;
    background-color: #EEE;
    border: 1px #CCC solid;
    border-radius: 5px;
    background: white;
}
 /* top10 */
.top10 img{
    width: 20%;
    height: 30px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #CCC solid;
}
.top10 a{
    color: #7b7777;
    text-decoration: none;
}
.top10 a:hover{
    color: #3d3838;
    text-decoration: underline;
}

/* Admin */
.headeradmin{
    background-color: #EEE;
    color: #666;
    border-radius: 5px;
    border: 1px #CCC solid;
    padding: 10px 20px;

}
.headeradmin h1{
    font-size: 1.5vw;
}
.formtittle{
    background-color: #EEE;
    color: #666;
    border-radius: 5px;
    border: 1px #CCC solid;
    padding: 10px 20px;
}
.fromcontent{
    padding: 20px 0px;
}
.formdanhsach table{
    width: 100%;
    border-collapse:collapse;
}
.formdanhsach table th{
    /* width: 10%; */
    padding: 20px ;
    background-color: #CCC;
}
/* .formdanhsach table th:nth-child(2){
    width: 30%;
    background-color: #CCC;
}
.formdanhsach table th:nth-child(3){
    width: 40%;
    background-color: #CCC;
}
.formdanhsach table th:nth-child(4){
    width: 20%;
    background-color: #CCC;
} */
.formdanhsach table td{
    padding: 10px 20px;
    border: 1px #CCC solid;
}


/* SlideShow */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .thongbao{
    color: red;
  }
